# PyCharm IDE files
.idea/
*.iml

# Virtual environment
.venv/

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Data files
*.csv

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store  # macOS
Thumbs.db   # Windows